*.pyc
.DS_Store
secrets.yaml

/.vscode
/.esphome
/.pio
/.platformio
/.build
/.venv
/esphome
/config
/include
/src
/lib

CMakeListsPrivate.txt
CMakeLists.txt

/platformio.ini
/partitions.csv
/compile_commands.json
/.clang_complete
/.gcc-flags.json
/.temp-clang-tidy.cpp
/.clang-format
/.clang-tidy
/.editorconfig
/.pylintrc
/pylintrc
/dependencies.lock
/*-dev.yaml

/components/bct
/components/vport